@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Team Members:</p>
<p>1. Alec Tozak</p>
<p>2. Karan JaydipBhai Patel</p>
<p>3. Kashyap Gauswami</p>
<p>4. Timothy Williams</p>
<p>5. Vivek Vaidya</p>
